h1 {
	font-family: 'Indie Flower', cursive;
	text-align: center;
	font-size: 100px;
	color:magenta;
	margin-bottom: 30px;
}


.roll {
	margin: 10px;
	margin-left: 19vw;
}

.table, tr {
	border: black;
	border-width: 3px;
	border-style: solid;
}

body {
	background-image: url("../img/matta.jpg");
	background-size: cover;
}